<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Programadores</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <nav>
    <h1>Civilizations</h1>
    <a href="/">Inicio</a>
    <a href="/civilization">Civilización</a>
    <a href="/battles">Batallas</a>
    <a href="/programmers">Programadores</a>
  </nav>

  <main>
    <h2>Programadores</h2>

    <section class="cards">
      <div class="card">
        <h3>Francisco Silvestre</h3>
        <p>Java, interfaz gráfica y base de datos.
          Web, consultas y estilos, pruebas y GitHub.
        </p>
      </div>

      <div class="card">
        <h3>Luis Portero</h3>
        <p></p>
      </div>

      <div class="card">
        <h3>Oscar Fernández</h3>
        <p></p>
      </div>
    </section>
  </main>
</body>
</html>