<link rel="stylesheet" href="../../public/css/style.css">
<header class="header">
    <nav>
        <a href="../index.ejs">Inicio</a>
        <a href="../batalles.ejs">Batalles</a>
        <a href="../informe.ejs">Informe</a>
        <a href="../civilitzacio.ejs">Civilització</a>
        <a href="../programadors.ejs">Programadors</a>
    </nav>
    <h1>Hola</h1>
</header>