* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: white;
  background:
    linear-gradient(rgba(4, 8, 12, 0.75), rgba(4, 8, 12, 0.9)),
    url("/images/background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* NAVBAR */
nav {
  background: rgba(12, 9, 6, 0.92);
  padding: 18px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #c78a2e;
  box-shadow: 0 0 25px black;
}

.brand {
  display: flex;
  align-items: center;
  gap: 15px;
}

.brand img {
  width: 75px;
  height: 75px;
  object-fit: contain;
  filter: drop-shadow(0 0 10px #c78a2e);
}

nav h1 {
  color: #ffd36b;
  font-size: 34px;
  margin: 0;
  font-family: Georgia, serif;
}

.links {
  display: flex;
  gap: 28px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

nav a:hover {
  color: #ffd36b;
}

/* MAIN */
main {
  padding: 35px;
}

/* HERO */
.hero {
  background:
    linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.65)),
    url("/images/background.jpeg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding: 90px 50px;
  border: 3px solid #c78a2e;
  border-radius: 18px;
  text-align: center;
  box-shadow: 0 0 30px rgba(0,0,0,0.7);
}

.hero h2 {
  font-size: 64px;
  color: #ffd36b;
  text-shadow: 0 0 15px black;
}

.hero p {
  font-size: 28px;
  color: white;
  text-shadow: 0 0 10px black;
}

/* INFO */
.info-game {
  background: rgba(25, 18, 10, 0.88);
  border: 2px solid #d4942c;
  border-radius: 16px;
  padding: 35px;
  margin: 35px 0;
  line-height: 1.8;
  box-shadow: 0 0 25px black;
}

.info-game h2 {
  color: #ffd36b;
  font-size: 32px;
  font-family: Georgia, serif;
}

.info-game p {
  font-size: 18px;
}

/* CARDS */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 22px;
  margin: 35px 0;
}

.card {
  background: rgba(25, 18, 10, 0.9);
  border: 2px solid #d4942c;
  border-radius: 14px;
  padding: 30px;
  text-align: center;
  font-size: 24px;
  box-shadow: 0 0 20px black;
  transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 25px #c78a2e;
}

/* TITLES */
h2 {
  color: white;
  font-size: 34px;
  margin-top: 35px;
}

/* TABLE */
table {
  width: 100%;
  border-collapse: collapse;
  background: rgba(25, 18, 10, 0.92);
  margin-top: 20px;
  border: 2px solid #d4942c;
  box-shadow: 0 0 25px black;
}

th {
  background: #6b3b16;
  color: #ffd36b;
  padding: 16px;
  font-size: 18px;
}

td {
  padding: 15px;
  border-bottom: 1px solid #c78a2e;
  text-align: center;
  font-size: 17px;
}

a {
  color: #ffd36b;
}

pre {
  background: rgba(25, 18, 10, 0.95);
  border: 2px solid #c78a2e;
  padding: 25px;
  white-space: pre-wrap;
  border-radius: 12px;
}