<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Batalles</title>
</head>
<body>
    <h1>Total de Batalles: <%= totalBatalles //nombre sujeto a cambios %></h1>
</body>
</html>