<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Página Principal</title>
</head>
<body>
    <h1>Civilizations</h1>
    <img src="captura.png" alt="captura de pantalla del juego">
    <p>El videojuego de civilization consiste en crear tu propia civilización 
        e intentar ser la última en pie con tu ejercito mientras evitas que el ejercito enemigo te lleve ventaja.
    </p>
    <table>
        <tr>
            <td>Num_Batalla</td>
            <td>resultado</td>
            <td>Link</td>
        </tr>
        <tr>
            <td>Num_Batalla</td>
            <td>resultado</td>
            <td>Link</td>
        </tr>
</table>
</body>
</html>