<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Informe de Batalles</title>
</head>
<body>
    <h1>Informe de Batalla <%= numbatalla //nombre sujeto a cambios %></h1>
</body>
</html>