<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Programadors</title>
</head>
<body>
    <h1>Programadors</h1>
    <p>Oscar</p>
    <img src="foto_oscar.jpg" alt="Foto de Oscar">
    <p>Que ha trabajado en el proyecto</p>
    <p>Francisco</p>
    <img src="foto_francisco.jpg" alt="Foto de Francisco">
    <p>Que ha trabajado en el proyecto</p>
    <p>Luis</p>
    <img src="foto_luis.jpg" alt="Foto de Luis">
    <p>Que ha trabajado en el proyecto</p>
</body>
</html>