<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Programadors</title>
    <link rel="stylesheet" href="../public/css/style.css"/>
</head>
<body>
    <h1>Programadors</h1>
    <p>Oscar</p>
    <img src="foto_oscar.jpg" alt="Foto de Oscar">
    <p>Que ha trabajado en el proyecto</p>
    <p>Francisco</p>
    <img src="foto_francisco.jpg" alt="Foto de Francisco">
    <p>Que ha trabajado en el proyecto</p>
    <p>Luis</p>
    <div id="grid">
        <!--Un cuadrado con cada cosa que se ha de poner-->
        <div class="carta-producto">
            <div class="producto-img" style="background-color: blueviolet;"></div>
            <div class="producto-info">
                <h3>Camiseta</h3>
                <p>Camiseta blanca básica</p>
                <div class="precio">27€</div>
            </div>
        </div>
        <!--Un cuadrado con cada cosa que se ha de poner-->
        <div class="carta-producto">
            <div class="producto-img" style="background-color: blueviolet;"></div>
            <div class="producto-info">
                <h3>Camiseta</h3>
                <p>Camiseta blanca básica</p>
                <div class="precio">27€</div>
            </div>
        </div>
        <!--Un cuadrado con cada cosa que se ha de poner-->
        <div class="carta-producto">
            <div class="producto-img" style="background-color: blueviolet;"></div>
            <div class="producto-info">
                <h3>Camiseta</h3>
                <p>Camiseta blanca básica</p>
                <div class="precio">27€</div>
            </div>
        </div>
    <img src="foto_luis.jpg" alt="Foto de Luis">
    <p>Que ha trabajado en el proyecto</p>
</body>
</html>