<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Programadors</title>
    <link rel="stylesheet" href="../public/css/style.css"/>
</head>
<body>
    <h1>Programadors</h1>
    <p>Oscar</p>
    <p>Francisco</p>
    <p>Luis</p>
    <div id="grid">
        <!--Un cuadrado con cada cosa que se ha de poner-->
        <div class="carta-producto">
            <div class="producto-img" style="background-color: blueviolet;"></div>
            <div class="producto-info">
                <h3>Camiseta</h3>
                <p>Camiseta blanca básica</p>
                <div class="precio">27€</div>
            </div>
        </div>
        <!--Un cuadrado con cada cosa que se ha de poner-->
        <div class="carta-producto">
            <div class="producto-img" style="background-color: blueviolet;"></div>
            <div class="producto-info">
                <h3>Camiseta</h3>
                <p>Camiseta blanca básica</p>
                <div class="precio">27€</div>
            </div>
        </div>
        <!--Un cuadrado con cada cosa que se ha de poner-->
        <div class="carta-producto">
            <div class="producto-img" style="background-color: blueviolet;"></div>
            <div class="producto-info">
                <h3>Camiseta</h3>
                <p>Camiseta blanca básica</p>
                <div class="precio">27€</div>
            </div>
        </div>
</body>
</html>