<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Programadors</title>
</head>
<body>
    <h1>Programadors</h1>
    <p>Oscar</p>
    <p>Francisco</p>
    <p>Luis</p>
</body>
</html>